.wrapper {
  display: grid;
  align-items: center;
  min-height: 100vh;
}
.block {
  display: grid;
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.transition {
  animation: rotate 6s linear infinite;
}
